[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=2

[{*.jhm,*.xslt,*.xul,*.rng,*.xsl,*.xsd,*.ant,*.tld,*.fxml,*.jrxml,*.xml,*.jnlp,*.wsdl}]
indent_style=space
indent_size=2

[{.babelrc,.stylelintrc,jest.config,.eslintrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[{*.rxml,*.builder}]
indent_style=space
indent_size=2

[{*.erb,*.rhtml}]
indent_style=space
indent_size=2

[*.svg]
indent_style=space
indent_size=2

[{rcov,rails,spec,cucumber,spork,rake,capfile,gemfile,rakefile,guardfile,isolate,vagrantfile,Puppetfile,*.gemspec,*.jbuilder,*.rbw,*.thor,*.ru,*.rb,*.rake}]
indent_style=space
indent_size=2

[*.feature]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[{*.ddl,*.sql}]
indent_style=space
indent_size=2

[*.coffee]
indent_style=space
indent_size=2

[*.haml]
indent_style=space
indent_size=2

[*.sass]
indent_style=space
indent_size=2

[*.scss]
indent_style=space
indent_size=2

[*.slim]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

