[Unit]
Description=Puma Rails Server
After=network.target

[Service]
Type=simple

User=deployer
Group=deployer

WorkingDirectory=/home/deployer/applications/bets_accounting/current

ExecStart=/home/deployer/.rbenv/bin/rbenv exec bundle exec puma -C /home/deployer/applications/bets_accounting/current/config/puma.rb
ExecStop=/home/deployer/.rbenv/bin/rbenv exec pumactl -S /home/deployer/applications/bets_accounting/shared/tmp/pids/puma.state stop

#TimeoutSec=15

Restart=always

[Install]
WantedBy=multi-user.target
